<p style="color: green"><%= notice %></p>

<% content_for :title, "Docs" %>

<h1>Docs</h1>

<div id="docs">
  <% @docs.each do |doc| %>
    <%= render doc %>
    <p>
      <%= link_to "Show this doc", doc %>
    </p>
  <% end %>
</div>

<%= link_to "New doc", new_doc_path %>
