<% content_for :title, "Editing move" %>

<h1>Editing move</h1>

<%= render "form", move: @move %>

<br>

<div>
  <%= link_to "Show this move", @move %> |
  <%= link_to "Back to moves", moves_path %>
</div>
