<% content_for :title, "Editing damage relation" %>

<h1>Editing damage relation</h1>

<%= render "form", damage_relation: @damage_relation %>

<br>

<div>
  <%= link_to "Show this damage relation", @damage_relation %> |
  <%= link_to "Back to damage relations", damage_relations_path %>
</div>
