<% content_for :title, "New damage relation" %>

<h1>New damage relation</h1>

<%= render "form", damage_relation: @damage_relation %>

<br>

<div>
  <%= link_to "Back to damage relations", damage_relations_path %>
</div>
